@model Mall.DTOs.Auth.Requests.SignUpRequest
@{
    ViewData["Title"] = "Sign Up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sign Up</h2>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <p class="text-danger">@ViewBag.ErrorMessage</p>
}

<form method="post" class="mt-3">
    <div class="mb-3">
        <label>Email:</label>
        <input type="email" asp-for="Email" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Password:</label>
        <input type="password" asp-for="Password" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Phone Number:</label>
        <input type="text" asp-for="PhoneNumber" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Account Type:</label>
        <select asp-for="Type" class="form-control">
            <option value="0">Personal</option>
            <option value="1">Interprise</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success">Sign Up</button>
</form>

<p class="mt-3">Đã có tài khoản? <a href="@Url.Action("LogIn", "Authentications")">Đăng nhập</a></p>

@if (ViewBag.IsSuccess != null && (bool)ViewBag.IsSuccess)
{
    <script>

        window.location.href = '@Url.Action("Index", "Home")';
    </script>
}
